# nginx
# ur local wifi ip address in dev or domain in production
NGINX_HOSTNAME=yourLocalhostIp
NGINX_PROTOCOL=http
NGINX_URL=${NGINX_PROTOCOL}://${NGINX_HOSTNAME}

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KC_HOSTNAME=keycloakHostname
KEYCLOAK_URL=${NGINX_PROTOCOL}://${KC_HOSTNAME}/realms/Rhytmix

# Postgres
POSTGRES_DB=Rhythmix
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_URL=jdbc:postgresql://postgres:5432/${POSTGRES_DB}

# Порты (если решим выносить наружу)
KEYCLOAK_PORT=8080
POSTGRES_PORT=5432
KAFKA_PLAINTEXT_PORT=9090
MINIO_PORT=9000
NGINX_PORT=80

# Minio
MINIO_HOSTNAME=minio.local
MINIO_URL=${NGINX_PROTOCOL}://${MINIO_HOSTNAME}
MINIO_ROOT_USER=minio_user
MINIO_ROOT_PASSWORD=minio_password

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka-1:9090, kafka-2:9090, kafka-3:9090
KAFKA_KRAFT_CLUSTER_ID=PVjHlx7ESeesq55jeB6Efw
KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9091,2@kafka-2:9091,3@kafka-3:9091